
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
 }
 html
 {
     scroll-behavior: smooth;
 }
 .header {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    height: 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: crimson;
 }

 .scroll-btn
 {
     height: 40px;
     width: 40px;
     position: fixed;
     left: 95%;
     top: 90%;
     background-color: crimson;
     border: none;
     border-radius: 6px;
     font-size: 20px;
     font-weight: 600;
     text-align: center;
     display: block;
     align-content: center;
     z-index: 99;
     cursor: pointer;
     color: #fff;
 }
 .scroll-btn:hover
 {
     background-color: #fff;
     color: crimson;
     transition: 0.5s;
 }

 .header .item {
    display: flex;
    column-gap: 30px;
 }

 .header .item a {
    text-decoration: none;
    font-size: 17px;
    color: white;
 }


 .header .item a:hover {
    color: black;
    transition: 0.8s;
 }
.header h1{
   color: white;
   font-family: candara;
    font-size: 2rem;
    font-weight: 600;
}
 .hero-sec {
    background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
 }

 .hero-sec .text {
    padding: 0 10%;
    width: 100%;
    display: inline-block;
    
 }

 .hero-sec .profile{
   display: flex;
   width: 33%;
   border-radius: 100%;
   float: right;
   margin-top: -220px;
   margin-right: 20px;
   border-style: ridge;
   box-shadow: 0px 0px 15px 1px crimson;
 }
 
 .hero-sec .web-icon{
   margin-top: 50px;;
   display: flex;
   float: left;
   width: 6%;
   cursor: pointer;
   transition: 0.5s;
   margin-right: 35px;
   margin-left: 20px;
   border-radius: 10px;
 }

 .hero-sec .web-icon:hover{
   
   transform: scale(1.1);
    opacity: 100%;
 }

.hero-sec .text .btn{
   display: flex;
  justify-content: right;
    gap: 30px;
    margin-top: 200px;
    margin-right: -33px;
}

.hero-sec .text .btn .hire {
   position: relative;
   padding: 16px 40px;
   transition: all 0.2s ease;
   border: none;
   background: none;
   cursor: pointer;
   text-decoration: none;
 }
 
 .hero-sec .text .btn .hire:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   border-radius: 50px;
   background: linear-gradient(#7d2ae8, #7d2ae8);
   width: 70px;
   height: 55px;
   transition: all 0.3s ease;
 }
 
 .hero-sec .text .btn .hire .hireme {
   position: relative;
   font-weight: 600;
   color: #fff;
   letter-spacing: 0.05em;
 }
 
 .hero-sec .text .btn .hire svg {
   position: relative;
   top: -2px;
   margin-left: 15px;
   fill: none;
   stroke-linecap: round;
   stroke-linejoin: round;
   stroke: #fff;
   stroke-width: 2;
   transform: translateX(-5px);
   transition: all 0.3s ease;
 }
 
 .hero-sec .text .btn .hire:hover:before {
   width: 100%;
   background: linear-gradient(to right, #7d2ae8, #b1dae7);
 }
 
 .hero-sec .text .btn .hire:hover svg {
   transform: translateX(0);
   stroke: #7d2ae8;
 }
 
 .hero-sec .text .btn .hire:active {
   transform: scale(0.95);
 }

.hero-sec .text .btn .cv{
   text-decoration: none;
  color: #fff;
  display: flex;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid crimson;
  padding: 14px 40px 13px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  
}
.hero-sec .text .btn .cv .download-img{
   position: absolute;
   
   width: 2px;
   height: 2px;
   transition: all 0.3s ease;
}
.hero-sec .text .btn .cv:hover .download-img{
   color: transparent;
   position: absolute;
   display: flex;
   width: 24px;
   height: 23px;
   opacity: 1;
   transition: all 0.3s ease;
}

.hero-sec .text .btn .cv .download-img:hover{
   height: 24px;
} 
 .hero-sec .text .btn .cv::before{
   position: absolute;
  content: "";
  z-index: 0;
  background-color: crimson;
  left: -5px;
  right: -5px;
  bottom: -5px;
  height: 111%;
  transition: 0.3s ease;
 }
 .hero-sec .text .btn .cv:hover::before{
   height: 11%;
 }
 .hero-sec .text .btn .downloadcv {
   position: relative;
  z-index: 2;
  transition: all 0.3s ease;
 }
 .hero-sec .text .btn .cv:hover .downloadcv{
   opacity: 0;
 }

 .hero-sec .head-text {
    color: white;
    font-size: 4rem;
    font-weight: 500;
    
 }

 .hero-sec .low-text {
    color: white;
    font-size: 17px;
    margin: none !important;
    font-weight: 200;
    margin-top: -30px;
    margin-left: 10px;
 }

 .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
 }

 .about .txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .about .about-text {
    margin-top: 10px;
    display: flex;
    column-gap: -40px;
    align-items:center;
    justify-content: left;
 }

 .about .about-text .left img {
    width: 73%; 
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px black;
    margin-bottom: 40px;
 }

 .about .about-text .right p {
    text-align: justify;
 }

 .about .about-text .right p span {
    color: crimson;
    font-size: 20px;
 }

 .service {
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
 }

 .service .txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .service .main-box {
    margin-top: 30px;
    padding: 0 10%;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
 }

.service .main-box .box{

   transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  box-shadow: 1rem 1rem 2rem rgba(131, 131, 131, 0.25);
  transition: 0.6s ease transform;

  background-color: #222;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  padding: 2px;
  margin: 15px;
  height: 250px;

  &:hover {
    transform: scale(1);
  }
  &::before,
  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
  }

  &::before {
    transform: translateZ(4rem);
    border: 5px solid #333;
    border-radius: 10px;
    &:hover {
      transform: translateZ(0);
    }
    
  }

  &::after {
    transform: translateZ(-4rem);
    background: #333;
    border-radius: 10px;
    box-shadow: 1rem 1rem 2rem rgba(122, 122, 122, 0.25);
    &:hover {
      transform: translateZ(-1px);
    }
  }  
}

.service .main-box .box p{
   margin: 10px;
}

 .service .main-box .box img {
    width: 70px;
    margin: 15px;
 }

 .skill {
   padding-top: 40px;
   padding-bottom: 40px;
}

.skill .main-box {
   margin-top: 30px;
   display: flex;
   column-gap: 40px;
   padding: 0 10%;
   align-items: center;
   justify-content: center;
}

.skill .txt {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.skill .main-box .left p {
   text-align: justify;
}

.skill .main-box .left p span {
   color: crimson;
   font-size: 20px;
}

.skill .main-box .right .divone {
   width: 500px;
   height: 5px;
   background-color: #222;
}

.skill .main-box .right {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   row-gap: 8px;
}

.skill .main-box .right label {
   display: flex;
   align-items: center;
}

.skill .main-box .right .div2 {
   width: 350px;
   height: 5px;
   background-color: crimson;
}


 .project {
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
 }

 .project .txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .project .main-box {
    margin-top: 30px;
    padding: 0 10%;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
 }

 .project .main-box .box {
    background-color: #222;
    width: 350px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    height: 300px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 15px;
 }
 .project .main-box a{
   text-decoration: none;
   color: #fff;
 }
 .project .main-box .box:hover {
    background-color: crimson;
    color: white;
 }

 .project .main-box .box img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid crimson;
    align-items: center;
}


 .footer
{
    padding: 10px 10px 10px;
    background-color: #fff;
    color: #000;
}
.footer-logo
{
    width: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer h4
{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
    color: crimson;
}
.footer p
{
    font-size: 16px;
    font-weight: 500;
}
.footer .info{
    text-align: center;
}
.footer a
{
    color: #000;
}
.footer a:hover
{
    color: crimson;
    text-decoration: none;
    transition: 0.6s;
}
.footer .row
{
    padding-left: 250;
    padding-bottom: 30px;
}
.footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr
{
    margin-top: 10px;
    background: #efefef;
}
.footer .copyright
{
    text-align: center;
    font-size: 14px;
}
.footer .logo
{
    width: 100px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

